/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 avr. 2014, 09:14:23
    Author     : olivierserre
*/


body{
	font-size: 14px;
	background-color: #FFFF99;
}
.form-group{
    margin-top: 6px;
    margin-right:16px;
}
.register {
    width:auto;
}
.btn{
    color:#777777;
    
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.navbar{
	position: fixed;
	border-radius:0;
	position:fixed;
	width:100%;
	padding:0 20px;
	z-index: 100;
	font-size: 40px;
}

.nav{
	font-size: 14.5px;
}
.background{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom:0;
	background: 50% 50% no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

.header .background{
        padding-top: 100px;
        height: 200px;
	background-image:url("img/Little Cooker.png"); 
        background-repeat: no-repeat;
        background-position: left;
        background-size: 400px 100px;
	z-index: -1;
}

.headerhome .background{
	background-image:url("img/headerhome.png");
	height: 360px; 
	z-index: -1;
}

.header-text{
	color:#bbbbbb;
	font-family: "Zapf Chancery";
}
.jumbotron{
	color:#777777;
	background:#FFFF99;
        font-size:15px;
}

.jumbotron h2{
    color:#eb9316;
    font-size:40px;
}
.jumbotron span{
    font-size:20px;
}
.jumbotron .ingredient{
    font-size:18px;
    width:100%;
    text-align: left;
    color:#777777;
}
.jumbotron a{
    color:inherit;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
}

.section-padding{
	padding-top:360px;
}
.showcase-box{
	height:320px;
	padding:2px;
}

.showcase-item{
	color:#777777;
	padding:40px;
	height: 100%;
	width: 100%;
}
.grey{
	color:#777777;
}

.menu-padding{
	padding-top: 130px;
}

.bottom-menu{
	background: #e2e2e2;
	color:#bcc379;
	padding:9px 0 42px;
	margin:150px 0 0 0;
}

.bottom-menu .navbar-brand{
	font-size:20px;
	padding:0;
}


.bottom-menu a{
	color:inherit;
}

.recipe{
	padding:30px 20px 20px 10px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 20px;
        width:70%;
	background: white;
	color:#777777;
        font-size:25px;
}
.recipe a{
    color:inherit;
}
.recipe .ingredient{
    font-size:18px;
    width:100%;
    text-align: left;
    color:#777777;
}
.recipe .method{
    font-size:18px;
    color:#777777;
}
.recipeadd{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    background:white;
    color:#777777;
    font-size:25px;
}
.recipeadd .ingredient{
    font-size:18px;
    width:100%;
    text-align: left;
    color:#777777;
}
.recipeadd .name{
    color:#777777;
    font-size:25px;
}

.recipeadd .method{
    color:#777777;
    font-size:18px;
}
.recipe image{
    width: 146px;
    height: 144px;
}
.occasion{
    border-bottom: 1px solid;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 20px;
    color:#777777;
    background:#FFFF99;
    font-size:25px;
    font-style: italic;
}
.occasion span{
    font-size: 18px;
}
.occasion a{
    color:inherit;
}