/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 avr. 2014, 09:14:23
    Author     : olivierserre
*/


[class*="col-"].gris {
    background-color: grey;
    border:solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
}

title{
    background-color:yellow;
    border:solid 2px white;
    padding:5px 5px 5px 5px;
    h2{
        color:green;
    }
}
